body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background: #eee;
}

.bob {
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
}

* {
  box-sizing: border-box;
}

p {
  margin: 3px 0;
}

pre {
  text-align: left;
  overflow: auto;
}

.bob pre code {
  display: inline-block;
  text-align: left;
  max-height: 285px;
}

.bob h3 {
  margin: 3px 0;
}

.bob .rsp p {
  font-style: italic;
  margin: 0;
}

.bob .rsp h3, .bob .rsp p {
  display: inline;
}

.foot-note {
  font-size: 14px;
  font-style: italic;
}

.at-images {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.at-images img {
  width: 130px;
  padding: 5px;
}

ul li a {
  margin-left: 3px;
}

.bob h2.large {
  font-size: 44px;
}

.bob .key {
  font-size: 16px;
}

.inline-code {
  background: #F0F0F0;
  padding: 2px;
  font-family: monospace;
}


/* highlightjs overrides for contrast */
.bob .hljs-comment {
  color: #686868;
}

.flex-list .flexr {
  justify-content: flex-start;
}

.toggle-button {
  padding: 5px;
  border: 1px solid;
  background: #eee;
  margin: 9px 0;
  border-radius: 5px;
  font-size: 16px;
  color: #000;
}

.toggle-button[aria-pressed="true"] {
  background: #000 !important;
  color: #fff;
}

.better-worse pre {
  margin: 0;
}

.quote {
  font-style: italic;
}

.with-inline-code li {
  line-height: 24px;
}

.mono {
  font-family: monospace;
}

.eb {
  display: block;
  margin: 0 auto;
}
